[submodule "docker/hmrs_hostpital_simulation"]
	path = docker/hmrs_hostpital_simulation
	url = https://github.com/gabrielsr/hmrs_hostpital_simulation
[submodule "docker/motion_ctrl"]
	path = docker/motion_ctrl
	url = https://github.com/Gastd/motion_ctrl/
[submodule "docker/multimaster_fkie"]
	path = docker/multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie
[submodule "docker/ros1_bridge"]
	path = docker/ros1_bridge
	url = https://github.com/ros2/ros1_bridge
[submodule "docker/py_trees_ros_behaviors"]
	path = docker/py_trees_ros_behaviors
	url = https://github.com/Gastd/py_trees_ros_behaviors
