[submodule "docker/hmrs_hostpital_simulation"]
	path = docker/hmrs_hostpital_simulation
	url = https://github.com/gabrielsr/hmrs_hostpital_simulation
[submodule "docker/motion_ctrl"]
	path = docker/motion_ctrl
	url = https://github.com/Gastd/motion_ctrl/
[submodule "docker/turtlebot3_hospital_sim"]
	path = docker/turtlebot3_hospital_sim
	url = https://github.com/Gastd/turtlebot3_hospital_sim
